/* src/components/Navbar.css */
.navbar {
  background-color: #212179;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar .logo {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 50px;
  height: 70px;
}

.navbar .logo img {
  max-height: 100%;
  width: auto;
}

.navbar .nav-link {
  color: #ffffff;
  margin: 0 15px;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-size: 20.5px;
  padding: 5px 10px;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.navbar .nav-link:hover {
  color: #f8f9fa;
  background-color: blue;
  border: 2px solid white;
  box-shadow: 15px 4px 8px rgba(128, 128, 128, 0.5);
}

.navbar .navbar-nav {
  flex: 1;
  justify-content: center;
}

.navbar .btn-primary {
  background-color: #ffffff;
  border: 2px solid #212179;
  color: #212179;
  border-radius: 50px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  margin-left: auto;
}

.navbar .btn-primary .icon {
  margin-right: 8px;
  color: #212179;
  font-size: 2.5rem;
}

.navbar .btn-primary:hover {
  background-color: #f0f0f0;
  border-color: #1a1a7e;
  color: #1a1a7e;
}

.dropdown-menu {
  background-color: #212179;
}

.dropdown-item {
  color: #ffffff;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}

.dropdown-item:hover {
  background-color: blue;
  color: #f8f9fa;
}

@media (max-width: 992px) {
  .navbar .logo {
    margin-right: 0; /* Adjust as needed for smaller screens */
  }

  .navbar .nav-link {
    font-size: 18px; /* Adjust font size for smaller screens */
  }
}
